In [1]:
import re
import numpy
import pandas as pd

### Mega dataset

In [2]:
def compute_average(group_name, df):
    group_columns = [col for col in df.columns if group_name in col]
    return df[group_columns].mean(axis=1)

In [3]:
df2 = pd.read_csv('../build_dataset/paper_data.csv')

# Initialize a new DataFrame to store the average values
paper_df = pd.DataFrame()

# Sort
df2 = df2[df2['specific.disorder'].isin(['Acute stress disorder', 'Healthy control', 'Depressive disorder'])]

paper_df['specific.disorder'] = df2['specific.disorder']

# Iterate through each group and compute the average
groups = ['alpha', 'beta', 'delta', 'theta']
for group in groups:
    paper_df[f'{group}'] = compute_average(group, df2)

new_column_names = {'alpha': 'Alpha', 'beta': 'Beta', 'theta': 'Theta', 'delta': 'Delta'}
paper_df.rename(columns=new_column_names, inplace=True)

paper_df.head()

        specific.disorder      Alpha       Beta      Delta      Theta
31  Acute stress disorder  38.488424  40.882201  39.141091  45.713918
32  Acute stress disorder  47.368559  48.817112  56.639885  50.719569
33  Acute stress disorder  51.872822  22.322245  23.398190  37.223425
34  Acute stress disorder  36.092599  32.847147  35.471763  43.941132
35  Acute stress disorder  28.514535  29.422266  33.819716  28.055607

In [4]:
import pandas as pd

df1 = pd.read_csv('../build_dataset/mega_preprocessed_data.csv')

df = pd.concat([df1, paper_df], axis=0, ignore_index=True)
df.head()

       Delta      Theta      Alpha       Beta specific.disorder
0  12.245460   8.674308   7.131809  10.013944             happy
1  18.082690  15.852509  12.739708  14.830145             happy
2  18.653089  15.062034  11.989570  15.140479             happy
3  21.838218  17.541182  13.624017  17.053419             happy
4  22.067904  17.228788  14.240932  17.332920             happy

In [6]:
df['specific.disorder'].value_counts()

Depressive disorder      199
Healthy control           95
Acute stress disorder     38
happy                      6
Name: specific.disorder, dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 338 entries, 0 to 337
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Delta              338 non-null    float64
 1   Theta              338 non-null    float64
 2   Alpha              338 non-null    float64
 3   Beta               338 non-null    float64
 4   specific.disorder  338 non-null    object
dtypes: float64(4), object(1)
memory usage: 13.3+ KB